<div id="profile-info">
    <p><%= @profile.username %></p>
    <p><%= @profile.full_name %></p>
    <p><%= @profile.bio %></p>
    <p><%= @profile.country %></p>
    <p><%= "#{@profile.calculate_age} anos"%></p>
</div>